
@{
    ViewBag.Title = "Part2";
}

<h2>Part2</h2>
<div ng-controller="Part2Controller">
    <div style="font-weight:bold">
        CONTACT DETAILS
    </div>
    <table>
        <tr>
            <td>First Name:</td>
            <td>{{Contact.FirstName}}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{Contact.LastName}}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{Contact.EmailID}}</td>
        </tr>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/AngularController/Part2Controller.js"></script>
    }

